# fly.toml app configuration file generated for employee-gifting-mvp
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'employee-gifting-mvp'
primary_region = 'lhr'

[build]
  [build.args]
    NEXT_PUBLIC_SUPABASE_URL = "https://ndjqxjzdcfgvnjuiqndt.supabase.co"
    NEXT_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_voIe46SzWDXKKHxe5eW6Fw_0MBxsOKb"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
